.category-tabs {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 30px 0;
  padding: 0 10px;
  flex-wrap: wrap; /* Permite quebra de linha em telas pequenas */
}

.category-button {
  background-color: var(--background-color);
  color: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap; /* Impede que o texto quebre */
}

.category-button:hover {
  background-color: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
}

.category-button.active {
  background-color: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
  transform: translateY(-2px);
}